<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    <h1>Вход</h1>
    <form action="{{ url_for('login') }}" method="POST">
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" name="password" required>
        <br>
        <label for="key">Ключ доступа:</label>
        <input type="key" name="key" required>
        <br>
        <h5>для получения ключа обратитесь к <a href="https://t.me/ElkaOfficial1">Марку</a></h5>
        <h5>или обратитесь за помощью в <a href="https://github.com/elkaofficial1/messenger/issues">гитхабе проекта</a></h5>
        <button type="submit">Войти</button>
    </form>

    <a href="{{ url_for('register') }}">Нет аккаунта? Зарегистрироваться</a>
</body>
</html>
